{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="box">
        <form class="contactform" action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            <input class="name" name="message-name" type="text" placeholder="Enter your Name">
            <input class="email" name="message-email" type="email" placeholder="Enter your Email">
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter a Message"></textarea>
            <button type="submit">Submit!</button>
        </form>
    </div>
{% endblock %}

